.chord-sheet {
  max-height: 100%;
}
.paragraph {
  height: 100%;
}
.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-3 {
  height: calc(100vh - 70px);
}
.makeStyles-root-230 {
  max-height: calc(100vh - 25%);
}

.MuiGrid-root.makeStyles-gridContainers-121.MuiGrid-container.MuiGrid-spacing-xs-3 {
  height: calc(100vh - 52px);
}

.recording-holder audio {
  width: 100%; 
  height: 30px!important;
}

.background-img {
  background-image: url('./images/backgroundGuitar.jpeg');
  height: 100vh; 
  background-position: center;
  background-size: cover;
  margin: 0;
}

.login-image {
  background-image: url(./images/loginGuitar.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.white-background {
  background: white;
  height: 100vh;
}

.loader {
  border: 2px solid #cc0000; 
  border-top: 2px solid #f2f3f7;
  border-bottom: 2px solid #f2f3f7;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1.25s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

