.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.muiGrid-grid-xs-3 {
  flex-grow: 0;
  max-width: 25%;
  flex-basis: 25%;
}

.light-text {
    color: #f2f3f7;
    font-weight: bold;
    padding-left: 5px;
}

.muiPaper-root {
  background: rgba(55, 107, 76, 0.6)!important;

}

.muiPaper-root-lighter {
  background: rgba(55, 107, 76, 0.3)!important;

}

.muiPaper-root-darker {
  background: rgba(55, 107, 76, 0.9)!important;
}

.recording-holder audio {
  width: 100%; 
  height: 30px!important;
}

.background-color2 {
  background-color: #004d66;
  /* height: '100vh'; */
  /* min-height: '100vh'; */
}

.navbar-color {
  background-color: '#004d66';
}

.background-img {
  /* background-color: #004d66!important; */
  background-image: url('./images/backgroundGuitar.jpeg');
  /* background-image: url("https://images.unsplash.com/photo-1516924962500-2b4b3b99ea02?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"); */
  height: 100vh; 
  background-position: center;
  /* background-repeat: no-repeat; */
    /* background-size: cover; */
  margin: 0;
}

.MuiInputBase-input {
  background-color: #f2f3f7;
  /* font: inherit;
  color: currentColor;
  background-color: #f2f3f7;
  width: 100%;
  border: 0;
  height: 1.1875em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  -webkit-tap-highlight-color: transparent; */
}

.login-image {
  background-image: url(./images/loginGuitar.jpeg);
  /* backgroundImage: 'url(https://images.unsplash.com/photo-1550291652-6ea9114a47b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80)', */
  /* backgroundImage: 'url(https://images.pexels.com/photos/15919/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260)', */
  background-repeat: no-repeat;
  /* backgroundColor:
    theme.palette.type === 'dark' ? theme.palette.grey[900] : theme.palette.grey[50], */
  background-size: cover;
  background-position: center;
}

.MuiDivider-root.makeStyles-divider2-313 {
  border-bottom: solid 1px white;
} 

.white-background {
  background: white;
  height: 100vh;
}

.background-color {
  /* background-color: #00004d; */
  /* background: rbg(55, 107, 76); */
  background: rgba(55, 107, 76, 0.5)!important;
  height: 100%;
  margin: 0;
}

/* .body {
  height: 100vh;
  min-height: 100vh;
} */

/* .submit-button {
  background-color: #004d66;
  color: white;
} */

.form-header {
  color: #004d66;
  text-align: center;
}

.loader {
  border: 2px solid #cc0000; /* Light grey */
  border-top: 2px solid #f2f3f7;
  border-bottom: 2px solid #f2f3f7; /* Blue */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1.25s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


#container {
  /* position: absolute; */
  /* align-content: left; */
  left: 45%;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #004d66;
}
.circle1 {
  position: relative;
  /* align-content: left; */
  top: 0px;
  width: 0px;
  height: 0px;
  border-right: 12px solid transparent;
  border-top: 12px solid #1ba7f2;
  border-left: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  -moz-transform:rotate(320deg);
  -webkit-transform:rotate(320deg);
  -o-transform:rotate(320deg);
  transform:rotate(320deg);
  animation: spin1 0.75s infinite linear;
  -webkit-animation: spin1 0.75s infinite linear;
}
.circle2 {
  position: relative;
  /* align-content: left; */
  top: 0px;
  width: 0px;
  height: 0px;
  border-right: 12px solid transparent;
  border-top: 12px solid #cc0000;
  border-left: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  -moz-transform:rotate(80deg);
  -webkit-transform:rotate(80deg);
  -o-transform:rotate(80deg);
  transform:rotate(80deg);
  animation: spin2 0.75s infinite linear;
  -webkit-animation: spin2 0.75s infinite linear;
}
.circle3 {
  /* position: absolute; */
  /* align-content: left; */
  top: 0px;
  width: 0px;
  height: 0px;
  border-right: 12px solid transparent;
  border-top: 12px solid #1ba7f2;
  border-left: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  -moz-transform:rotate(200deg);
  -webkit-transform:rotate(200deg);
  -o-transform:rotate(200deg);
  transform:rotate(200deg);
  animation: spin3 0.75s infinite linear;
  -webkit-animation: spin3 0.75s infinite linear;
}
/* animations */

@keyframes spin1 {
  0% {
  -moz-transform:rotate(320deg);
  -webkit-transform:rotate(320deg);
  -o-transform:rotate(320deg);
  -ms-transform:rotate(320deg);
  }
  100% {
  -moz-transform:rotate(680deg);
  -webkit-transform:rotate(680deg);
  -o-transform:rotate(680deg);
  -ms-transform:rotate(680deg); 
  }
}
@-webkit-keyframes spin1 {
  0% {
  -moz-transform:rotate(320deg);
  -webkit-transform:rotate(320deg);
  -o-transform:rotate(320deg);
  -ms-transform:rotate(320deg);
  }
  100% {
  -moz-transform:rotate(680deg);
  -webkit-transform:rotate(680deg);
  -o-transform:rotate(680deg);
  -ms-transform:rotate(680deg); 
  }
}
@keyframes spin2 {
  0% {
  -moz-transform:rotate(80deg);
  -webkit-transform:rotate(80deg);
  -o-transform:rotate(80deg);
  -ms-transform:rotate(80deg);
  }
  100% {
  -moz-transform:rotate(440deg);
  -webkit-transform:rotate(440deg);
  -o-transform:rotate(440deg);
  -ms-transform:rotate(440deg); 
  }
}
@-webkit-keyframes spin2 {
  0% {
  -moz-transform:rotate(80deg);
  -webkit-transform:rotate(80deg);
  -o-transform:rotate(80deg);
  -ms-transform:rotate(80deg);
  }
  100% {
  -moz-transform:rotate(440deg);
  -webkit-transform:rotate(440deg);
  -o-transform:rotate(440deg);
  -ms-transform:rotate(440deg); 
  }
}
@keyframes spin3 {
  0% {
  -moz-transform:rotate(200deg);
  -webkit-transform:rotate(200deg);
  -o-transform:rotate(200deg);
  -ms-transform:rotate(200deg);
  }
  100% {
  -moz-transform:rotate(560deg);
  -webkit-transform:rotate(560deg);
  -o-transform:rotate(560deg);
  -ms-transform:rotate(560deg); 
  }
}
@-webkit-keyframes spin3 {
  0% {
  -moz-transform:rotate(200deg);
  -webkit-transform:rotate(200deg);
  -o-transform:rotate(200deg);
  -ms-transform:rotate(200deg);
  }
  100% {
  -moz-transform:rotate(560deg);
  -webkit-transform:rotate(560deg);
  -o-transform:rotate(560deg);
  -ms-transform:rotate(560deg); 
  }
}